.venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.env
*.DS_Store
*.egg-info/
dist/
*.db
build/
*.egg
*.egg-info/
*.vscode/
.idea/
*.pytest_cache/
.coverage
htmlcov/
*.coverage
*.coveragerc
*.pylint.d/
.mypy_cache/
.pytest_cache/
.pytype/
.pyre/
.pyright/
.pyre_cache/